<h1><%= @question.title %></h1>

<div class="question-body">
  <%= @question.body %>
</div>

<h2>Answers</h2>
<div id="answers">
  <% if @question.answers.any? %>
    <% @question.answers.each do |answer| %>
      <div class="answer">
        <p><%= answer.body %></p>
      </div>
    <% end %>
  <% else %>
    <p>There are no answers to this question yet.</p>
  <% end %>
</div>

<h3>Add Answer</h3>
<div id="new-answer">
  <%= form_with(model: [@question, Answer.new], url: question_answers_path(@question), method: :post, data: { turbo: false }, local: true) do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <% if @answer && @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
        <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body, 'Your Answer' %><br>
      <%= f.text_area :body, rows: 5 %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit Answer', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', questions_path %>
