<% if resource.links.any? %>
  <div class="mt-4" data-controller="links">
    <h4 class="text-lg font-medium text-gray-900 mb-2">Related Links:</h4>
    <div class="space-y-2">
      <% resource.links.each do |link| %>
        <div class="flex items-center justify-between p-2 bg-gray-50 rounded" id="<%= dom_id(link) %>">
          <div>
            <% if link.gist? %>
              <div id="gist-<%= link.gist_id %>" data-links-target="gist">
                <script src="https://gist.github.com/<%= link.gist_id %>.js"></script>
              </div>
            <% else %>
              <%= link_to link.name, link.url, 
                  class: "text-blue-600 hover:text-blue-800",
                  target: "_blank", rel: "noopener" %>
            <% end %>
          </div>
          
          <% if policy(link).destroy? %>
            <%= link_to "Delete", link_path(link), 
                data: { 
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?" 
                },
                class: "text-red-600 hover:text-red-800 text-sm" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
