<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Stackoverflow Clone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-gray-100 py-4 mb-8">
      <div class="container mx-auto px-4 flex justify-between items-center">
        <div>
          <h1 class="text-xl font-bold"><%= link_to "Stackoverflow Clone", root_path %></h1>
        </div>
        <nav>
          <ul class="flex space-x-4">
            <li><%= link_to "Questions", questions_path, class: "hover:text-blue-600" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "hover:text-blue-600" %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, class: "hover:text-blue-600" %></li>
              <li><%= link_to "Log in", new_user_session_path, class: "hover:text-blue-600" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container mx-auto px-4">
      <% if notice %>
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4" role="alert">
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if alert %>
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
          <p><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
